{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Dashboard {% endblock title %}

<!--  -->
{% block c_style %}
<style>
  .pen-class {
    cursor: pointer;
  }
</style>
{% endblock c_style %}

<!--  -->

{% block container %}
<div class="container py-4">
  <div id="aletArea"></div>

  {% if profile %}

  <h1 class="text-center text-capitalize text-dark">Welcome to profile!</h1>
  <div class="dash-content bg-light p-5 mt-5">
    <div class="row">
      <div class="col-md-3"><p>Username:</p></div>
      <div class="col-md-9"><p>{{request.user.username}}</p></div>
      <hr />
    </div>
    <div class="row">
      <div class="col-md-3"><p>Email:</p></div>
      <div class="col-md-9">
        <div class="profile-input-group d-flex">
          <p>{{user.email}}</p>
          <span class="pen-btn" d_name="email">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen ms-4 pen-class pen-btn-svg"
              viewBox="0 0 16 16"
              style="margin-top: -5px"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
              />
            </svg>
          </span>
        </div>
      </div>

      <hr />
    </div>
    <div class="row">
      <div class="col-md-3"><p>First Name:</p></div>
      <div class="col-md-9">
        <div class="profile-input-group d-flex">
          <p>{{user.first_name}}</p>
          <span class="pen-btn" d_name="first_name">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen ms-4 pen-class pen-btn-svg"
              viewBox="0 0 16 16"
              style="margin-top: -5px"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
              />
            </svg>
          </span>
        </div>
      </div>

      <hr />
    </div>
    <div class="row">
      <div class="col-md-3"><p>Last Name:</p></div>
      <div class="col-md-9">
        <div class="profile-input-group d-flex">
          <p>{{user.last_name}}</p>
          <span class="pen-btn" d_name="last_name">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen ms-4 pen-class pen-btn-svg"
              viewBox="0 0 16 16"
              style="margin-top: -5px"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
              />
            </svg>
          </span>
        </div>
      </div>

      <hr />
    </div>
    <div class="row">
      <div class="col-md-3"><p>Bio:</p></div>
      <div class="col-md-9">
        <div class="profile-input-group d-flex">
          <p>{{profile.bio}}</p>
          <span class="pen-btn" d_name="bio">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen ms-4 pen-class pen-btn-svg"
              viewBox="0 0 16 16"
              style="margin-top: -5px"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
              />
            </svg>
          </span>
        </div>
      </div>

      <hr />

      <button
        type="button"
        class="btn btn-danger w-25 m-auto"
        data-toggle="modal"
        data-target="#deleteProModal"
      >
        Delete Profile
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="deleteProModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Are you sure want to delete your Profile?
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer m-auto">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <form action="{% url 'users:del-profile' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Confirm Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <div class="con d-flex justify-content-center flex-column">
    <div class="text-center text-capitalize alert alert-warning">
      You don't have a profile!
    </div>
    <a
      href="{% url 'users:create-profile' %}"
      class="btn btn-primary w-25 m-auto"
      >Create Profile</a
    >
  </div>

  {% endif %}
</div>

<div class="input-group d-none" id="inputGroup">
  <input type="text" class="form-control" name="" value="" />
  <span class="input-group-text check-click" id="CheckClick">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-check2-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
      />
      <path
        d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
      />
    </svg>
  </span>
</div>
<div id="dash-url" data-url="{% url 'users:dash' %}"></div>

{% endblock container %}
<!--  -->

{% block custom_script %}

<script src="{% static 'users.js' %}"></script>
{% endblock custom_script %}
<!--  -->
