{% extends "socialaccount/base.html" %}
<!--  -->
{% load i18n %}
<!--  -->
{% load static %}
<!--  -->
{% block head_title %}{% trans "Signup" %}{% endblock %}
<!--  -->

{% block extra_head %}

<style>
  .btn-google {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #191919;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .btn-google:hover {
    background-color: #f1f1f1;
    color: #4b3b3b;
  }

  .google-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .btn-text {
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
  }
</style>

{% endblock %}

<!--  -->

{% block body %}
<!--  -->
{% include 'base.html' %}
<!--  -->
<!--  -->

{% block content %}

<div class="container p-5">
  <h1>{% trans "Sign Up" %}</h1>
  <!--  -->
  <p>
    <!--  -->

    {% blocktrans with provider_name=account.get_provider.name
    site_name=site.name %}
    <!--  -->
    You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:
    <!--  -->
    {% endblocktrans %}
  </p>
  <!--  -->
  <form
    class="signup"
    id="signup_form"
    method="post"
    action="{% url 'socialaccount_signup' %}"
  >
    {% csrf_token %} {{ form.as_p }}
    <!--  -->
    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
  </form>
  <!--  -->
  <div class="oauth-login mt-2">
    <form action="{% url 'google_login' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn-google">
        <img
          src="{% static 'icons/google-logo.png' %}"
          alt=""
          class="google-logo"
        />
        <span class="btn-text">Continue With Google</span>
      </button>
    </form>
  </div>
</div>

{% endblock %}
<!--  -->
{% endblock %}
